.create_group_leftbar {
  width: 100%;
  max-width: 400px;
  background-color: var(--secondary-background-color);
  border-radius: 9px;
  height: 100vh;
  overflow-y: scroll;
  scrollbar-width: none;
  padding: 100px 20px 40px 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.create_group_leftbar_header {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.header_links {
  display: flex;
  align-items: center;
  gap: 10px;
}
.header_links p {
  color: var(--text-color);
  font-weight: 600;
  cursor: pointer;
}
.admin {
  display: flex;
  align-items: center;
  gap: 10px;
}
.admin span {
  font-size: 14px;
}
.group_details {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.group_details p {
  font-size: 14px;
  color: var(--text-color);
  font-weight: 600;
}
.group_details input,
.group_details select {
  outline: none;
  background-color: transparent;
  border: 1px solid var(--text-color);
  padding: 10px 5px;
  width: 100%;
  border-radius: 5px;
  font-size: 16px;
}
.group_details button {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid var(--text-color);
  background-color: var(--button-color);
  color: var(--text-color);
  font-weight: 600;
}
