.video {
  width: 100%;
  height: 100vh;
  background-color: var(--secondary-background-color);
  position: relative;
  padding-bottom: 60px;
}
.video_Con {
  width: 100%;
  display: flex;
}
.left_bar {
  flex-basis: 25%;
  width: 100%;
  background-color: var(--background-color);
}
.video_box {
  flex-basis: 75%;
}

@media screen and (max-width: 900px) {
  .video_Con {
    flex-direction: column;
  }
}
