.chat {
  width: 100%;
  background-color: var(--secondary-background-color);
  padding-top: 90px;
  position: relative;
}
.chat_Con {
  display: flex;
  gap: 20px;
  justify-content: flex-start;
  height: 100vh;
  overflow-y: scroll;
  scrollbar-width:none ;
}
.left_bar {
  position: relative;
  flex-basis: 25%;
}

.chat_box {
  flex-basis: 50%;
}

.right_bar {
  position: relative;
  flex-basis: 25%;
}

@media (max-width: 1040px) {
  .left_bar {
    position: relative;
    flex-basis: 100%;
  }

  .chat_box {
    flex-basis: 100%;
    overflow-x: scroll;
  }
}
@media (max-width: 1159px) {
  .left_bar {
    display: none;
  }

  .chat_box {
    flex-basis: 100%;
  }

  .right_bar {
    display: none;
  }
}
