.group_you_may_like {
  width: 100%;
  margin-bottom: 20px;
  background-color: var(--background-color);
  border-radius: 9px;
  padding: 15px;
  overflow: hidden;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 15px;
}

.header h2 {
  font-size: 22px;
}

.Con {
  width: 100%;
  max-width: 750px;
  min-width: 300px;
  display: flex;
  gap: 10px;
  overflow-x: scroll;
}

.icon {
  font-size: 25px;
  cursor: pointer;
}

.swiper_slide {
  width: 100%;
}

.group {
  position: relative;
  min-width: 220px;
  max-width: 220px;
  height: 250px;
  overflow: hidden;
  border-radius: 9px;
  box-shadow: 0 0 2.5px var(--text-color);
  cursor: pointer;
  margin-right: 10px;
}

.group_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.group_details {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 0 5px;
}

.name {
  font-size: 15px;
  color: rgb(41, 40, 40);
  padding-top: 5px;
}

.group_btns {
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: center;
  padding: 15px;
  gap: 20px;
}

.group_btns button {
  padding: 8px 20px;
  border-radius: 5px;
}

@media screen and (max-width: 500px) {
  .group {
    position: relative;
    min-width: 180px;
    max-width: 180px;
    height: 220px;
    overflow: hidden;
    border-radius: 9px;
    box-shadow: 0 0 2.5px var(--text-color);
    cursor: pointer;
  }

  .group_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

}