.group_left_bar{
    width: 100%;
    height: 100%;
    background-color: var(--secondary-background-color);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.group_left_bar_header{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.group_left_bar_header h3{
    font-size: 30px;
}
.group_left_bar_header_icons{
    font-size: 40px;
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
    background-color: var(--background-color);
    color: var(--text-color);
}
.group_you_manage, .group_you_joined{
    border-bottom: 1px solid var(--background-color);
    padding-bottom: 20px;
}
.group_you_manage_cart, .group_you_joined_cart{
    display: flex;
    gap: 20px;
}

.group_you_manage_img, .group_you_joined_img{
    position: relative;
    width: 100%;
    min-height: 100px;
    flex: 1;
}
.group_you_manage_text_all, .group_you_joined_text_all{
    flex: 2;
}
.search_bar{
    width: 100%;
    padding: 5px;
    background-color: var(--background-color);
    border-radius: 9px;
    display: flex;
    gap: 10px;
    align-items: center;
}
.search_bar_icon{
    font-size: 18px;
}
.search_bar input{
    background-color: transparent;
    flex: 2;
    outline: none;
    border: none;
    font-size: 18px;
}