.user{
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: var(--secondary-background-color);
}
.userCon{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    scrollbar-width: none;
}
.userHeader{
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 20px 10px;
    background-color: var(--secondary-background-color);
    width: 100%;
    align-items: center;
    box-shadow: 0 0 15px var(--background-color);
}
.headerImgCon{
    display: flex;
    align-items: center;
    gap: 20px;
    cursor: pointer;
}
.userImg{
    border-radius: 50%;
}
.headerText p{
    font-size: 22px;
    font-weight: bolder;
    text-transform: capitalize;
}
.headerText span{
    font-size: 14px;
}
.headerIconsCon{
    display: flex;
    gap: 10px;

}
.icon{
    cursor: pointer;
    font-size: 25px;
}
.userCenter{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    cursor: pointer;
    text-align: center;
    margin-top: 40px;
}
