.create{
    display: flex;
    width: 100%;
    gap: 20px;
    flex-wrap: wrap;
    height: 100vh;
}
.create_leftbar{
    flex-basis: 30%;
    min-width: 300px;
    width: 100%;
}
.create_Container{
    flex-basis: 70%;
    min-width: 300px;
    width: 100%;
}