.menu_bar {
    width: 100%;
    padding: 20px;
    position: fixed;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    left: 0;
    padding-left: 10px;
    background-color: var(--background-color);
    border-bottom: 1px solid var(--secondary-background-color);
}

.logo {
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid var(--background-color);
}

.menu_icons {
    display: flex;
    gap: 50px;
    align-items: center;
}

.icon {
    font-size: 30px;
    cursor: pointer;
}

.user_menus {
    display: flex;
    gap: 30px;
    align-items: center;
    position: relative;
}

.user_profile{
    position: absolute;
    z-index: 88;
    top: 90px;
    right: 0;
    transition: max-height .1s ease-in-out;
}
.user_profile.active{
    max-height: 100vh;
}