.menu_bar {
    width: 100%;
    padding: 20px;
    position: fixed;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    left: 0;
    padding-left: 10px;
    background-color: var(--background-color);
}

.logo {
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid var(--background-color);
}

.menu_icons {
    display: flex;
    gap: 50px;
    align-items: center;
}

.icon {
    font-size: 30px;
    cursor: pointer;
}

.user_menus {
    display: flex;
    gap: 30px;
    align-items: center;
}