.page {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("/empiregram-hero-bg.webp");
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  width: 100%;
  padding-bottom: 50px;
  padding-left: 5%;
  padding-right: 5%;
}
.col_Con {
  background-color: transparent;
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}
.img_Con {
  position: relative;
  min-height: 550px;
  width: 100%;
  border-radius: 50%;
  overflow: hidden;
}
