.hero{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 400px;
    margin: 20px auto;
}
.hero .hero_text{
    background-color: black;
}
.hero_text h1{
    background-color: transparent;
}