.hero{
    min-width: 100%;
    min-height: 100vh;
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/empiregram-hero-bg.webp');
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.signup_Con{
    border-radius: 9px;
    background: rgba(187, 196, 196, 0) ;
}
