.your_groups{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    scrollbar-width: none;
    padding-bottom: 30px;
}
.pending_group_con{
    border-bottom: 1px solid var(--background-color);
    padding-bottom: 15px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.group_you_are_con{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.pending_group_cart_con{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.pending_group_cart, .group_you_are_cart{
    flex-basis: 45%;
    width: 100%;
    min-width: 300%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.pending_group_header, .group_you_are_header{
    display: flex;
    align-items: center;
    gap: 20px;
}
.pending_group_img_con, .group_you_are_img_con{
    position: relative;
    width: 100px;
    height: 50px;
    border-radius: 9px;
    overflow: hidden;
}