.groupPost{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.img_Con{
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid rgb(139, 131, 131);
}