.status_bar {
  width: 100%;
  height: 250px;
}

.status_Con {
  display: flex;
  width: 100%;
  box-shadow: 0 4px 15px var(--menu-color);
  border-radius: 12px;
 background-color: var(--white-color);
  gap: 10px;
  margin-right: 10px;
  overflow-x: scroll;
}

.status {
  width: 100%;
  min-width: 100px;
  height: 200px;
  position: relative;
  border-radius: 9px;
  box-shadow: 0 0 2.5px var(--text-color);
  cursor: pointer;
  overflow: hidden;
}
.all_post {
  width: 120px;
  height: 200px;
  position: relative;
  border-radius: 9px;
  box-shadow: 0 0 2.5px var(--text-color);
  cursor: pointer;
  margin-right: 10px;
  overflow: hidden;
}

.user:hover .user_img,
.friends:hover .friends_img {
  transform: scale(1.1);
  transition: 0.3s ease-in-out;
}

.user_img,
.friends_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.user_plus {
  background-color: white;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.user_plus p {
  color: white;
  background-color: var(--shadow-color);
  padding: 5px 15px;
  font-size: 30px;
  font-weight: bolder;
  border-radius: 50%;
  border: 3px solid white;
  position: absolute;
  bottom: 30px;
}

.user_plus span {
  color: black;
  padding: 20px 0 10px 0;
}