.right_bar{
    min-width: 300px;
    height: 100vh;
    background-color: white;
    padding: 20px 10px;
    overflow-y: scroll;
    scrollbar-width: none;
    flex-basis: 25%;
    position: relative;
}
.right_bar_Con{
    width: 100%;
}
.header{
    display: flex;
    align-items: center;
    gap: 20px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 0;
    background-color: white;
    width: 100%;
}
.img_Con{
    margin-left: 20px;
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid rgb(139, 131, 131);
}
.user_cart_Con{
    height: 100vh;
    width: 100%;
    overflow-y: auto;
    scrollbar-width: none;
    padding-top: 50px;
    padding-bottom: 20px;
}
.user_cart{
    width: 100%;
    display: flex;
    align-items: center;
    margin: 10px 0;
    cursor: pointer;
    gap: 20px;
    transition: .1s ease-in-out;
    padding: 10px;
}
.user_cart:hover{
    background-color: #606770;
    color: white;
    border-radius: 3px;
}
.icons{
    font-size: 25px;
}